@model IEnumerable<diplom_2.Models.Counterparty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pageheader">
    <h2><i class="fa fa-table"></i> Все клиенты<span></span>  <a href="~/Counterparties/Create/" class="btn btn-sm btn-primary mr5"> Добавить клиента</a></h2>
  
    <div class="breadcrumb-wrapper">
        <span class="label"></span>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index">Главная</a></li>
            <li class="active">Мои клиенты</li>
        </ol>
    </div>
</div>



<div class="contentpanel">
    <div class="panel-group" id="accordion">
    @foreach (var client in Model)
    {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="collapsed " data-parent="#accordion" href="#collapse_@client.Id">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => client.Name)
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => client.Description)
                            </div>
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => client.City)
                            </div>
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => client.Region)
                            </div>
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => client.LastModify)
                            </div>
                        </div>
                    </a>
                </h4>
            </div>
            <div id="collapse_@client.Id" class="panel-collapse collapse">
                <ul class="nav nav-tabs nav-justified nav-profile">
                    <li class="active"><a href="#activities_@client.Id" data-toggle="tab"><strong>Активности</strong></a></li>
                    <li><a href="#followers_@client.Id" data-toggle="tab"><strong>Контакты</strong></a></li>
                    <li><a href="#following_@client.Id" data-toggle="tab"><strong>Прочая информация</strong></a></li>
                    <li><a data-toggle="modal" data-target="#myModal" href="#" CompanyId="@client.Id" data-toggle="tab"><strong>Изменить</strong></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activities_@client.Id">
                        <div class="activity-list">
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="0"  href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i>Создать заявку</a>
                            @*<a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="1" href="~/Processes/Create?ProcessTypeId=1&CounterpatyId=@client.Id" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Входящий звонок</a>*@
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="1" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Входящий звонок</a>
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="2" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Исходящий звонок</a>
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="3" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Отправка прайса</a>
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="4" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Встреча</a>
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="5" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Отправка образцов</a>
                            <a data-toggle="modal" data-target="#myModal" CompanyId="@client.Id" ProcessTypeId="6" href="#" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Другая задача</a>
                            
                            <br /><br />
                            <div id="ProcesseList_@client.Id">

                            </div>

                        <script>
                            $.ajax({
                                type: "GET",
                                url: '/Processes/ShowProcesses/@client.Id',
                                cache: false,
                                success: function (response) {
                                 
                                    $('#ProcesseList_@client.Id').html(response);
                                },
                                error: function (response) {
                                    alert("Error1");
                                }
                            })
                        </script>
                         
                         

                        </div><!-- activity-list -->

                        <button class="btn btn-white btn-block">Show More</button>
                    </div>
                    <div class="tab-pane" id="followers_@client.Id">

                        <div class="follower-list">
                            <a href="~/Contacts/CreateById/@client.Id" class="btn btn-sm btn-primary mr5"><i class="fa fa-plus"></i> Добавить контакт</a>
                        <hr />
                    @foreach (var contact in client.Contacts.Where(a=>a.Deleted==false))
                    {
                        <div class="media">
                            @*<a class="pull-left" href="#">
            <img class="media-object" src="holder.js/100x125" alt="" />
        </a>*@
                            <div class="media-body">
                                <h3 class="follower-name">@contact.FIO</h3>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="profile-location"><i class="fa fa-phone"></i> @contact.Phones</div>
                                        <div class="profile-position"><i class="fa fa-briefcase"></i> @contact.Position </div>
                                    </div>
                                    <div class="col-md-3">
                                        @contact.Notes
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-location"><i class="fa fa-mail-forward"></i> @contact.Email</div>
                                        <div class="profile-position"><i class="fa fa-eye"></i> @contact.Viber </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-location"><i class="fa fa-skype"></i> @contact.Skype</div>
                                        <div class="profile-position"><i class="fa fa-facebook"></i> @contact.Facebook </div>
                                    </div>

                                </div>
                                <div class="mb20"></div>
                                <a href="~/Contacts/Edit/@contact.Id" class="btn btn-sm btn-success mr5"><i class="fa fa-user"></i> Изменить</a>
                                <a href="~/Contacts/Delete/@contact.Id" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Удалить</a>
                            </div>
                        </div><!-- media -->
}



                        </div><!--follower-list -->

                    </div>
                    <div class="tab-pane" id="following_@client.Id">
                        <div class="activity-list">
                            <div class="media act-media">
                               
                                <div class="media-body act-media-body row">
                                    <div class="col-md-4">
                                        <strong>@client.Address</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>@client.Requisites</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>@client.Web</strong>
                                    </div>



                                        </div>
                                    </div><!-- media -->
                        </div><!-- activity-list -->
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal"  role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">

    </div><!-- modal-dialog -->
</div><!-- modal -->

<!-- Modal -->
<div class="modal fade" id="CompleteActionModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="CompleteActionModal-modal-dialog" style="width: 80%">
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script>


    $('#myModal').on('shown.bs.modal', function (e) {
        //Очищаем модальное окно
        $('.modal-dialog').html('');
        //Добавляем в модальное окно HTML-код прелоадер
        $('.modal-dialog').html('<div id="preloader_modal"><div id="status"><i class="fa fa-spinner fa-spin"></i></div></div>');
        //Показываем прелоадер (делаем его видимым)
        $('#preloader_modal').show();
        //Пытаемся получить значение атрибута CompanyId с тега, который инициировал открытие модельного окна.
        var Id = $(e.relatedTarget).attr('CompanyId');
        //Пытаемся получить значение атрибута ProcessTypeId с тега, который инициировал открытие модельного окна.
        var ProcessTypeId = $(e.relatedTarget).attr('ProcessTypeId');
        //Объявляем переменную, в которую будет записан адрес, куда будет отправлен ajax-запрос
        var Action;
        //Проверяем есть ли в ProcessTypeId значение
        if (ProcessTypeId != undefined) //undefined - не определённое значение переменной (чем-то похоже на null в языке C#). 
        {
            //Если была нажата кнопка "Создать заявку"
            if (ProcessTypeId == 0)                
                //Будим отправлять ajax-запрос в Action-метод создания заявки
                Action = "/Orders/Create/" + Id;            
            else
                //Будим отправлять ajax-запрос в Action-метод создания процесса (задачи)
                Action = "/Processes/Create?ProcessTypeId=" + ProcessTypeId + "&CounterpatyId=" + Id;
        }
        //Если тип процесса не определён
        else
            //Если не определён id компании
            if (Id == undefined) {                
                //Пытаемся получить значение атрибута ProcessId. Это нужно для того чтобы была возможность создавать задачи без привязки к компаниям. 
                Id = $(e.relatedTarget).attr('ProcessId');
             
                //Получаем атрибут ActionType который указывает на то будет ли задача успешно завершена или отклонена
                var typeComplete = $(e.relatedTarget).attr('ActionType');
                //Если отсутствует информация о завершении процесса - это заявка
                if (typeComplete == undefined) {
                    Action = "/Orders/Edit/" + Id;
                }
                   //Иначе это процесс
                else {
                    //Будим отправлять ajax-запрос в Action-метод закрытия (завершения) задачи 
                    Action = "/Processes/Complete/" + Id + "?Complete=" + typeComplete;
                }
                }           
            //Если id-компании определён, но не определён тип задачи
            else {
                
                //Значит была нажата кнопка "Изменить компанию"
                Action = "/Counterparties/Details/" + Id;
            }

      
        $.ajax({
            type: "GET",
            url: Action,
            cache: false,
            success: function (response) {                
                $('.modal-dialog').html(response);

            },
            error: function (response) {
                alert("Error");
            }
        })
    });
       
</script>

<script>

</script>